<!doctype html>

<html>
<head>    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>首页</title>
    <script src="/miniui/boot.js" type="text/javascript"></script>
    <link href="/miniui/res/third-party/scrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" type="text/css" />
    <script src="/miniui/res/third-party/scrollbar/jquery.mCustomScrollbar.concat.min.js" type="text/javascript"></script>
    <link href="/miniui/frame/frame1/res/menu/menu.css" rel="stylesheet" type="text/css" />
    <script src="/miniui/frame/frame1/res/menu/menu.js" type="text/javascript"></script>
    <script src="/miniui/frame/frame1/res/menutip.js" type="text/javascript"></script>
    <link href="/miniui/frame/frame1/res/tabs.css" rel="stylesheet" type="text/css" />
    <link href="/miniui/frame/frame1/res/frame.css" rel="stylesheet" type="text/css" />
    <link href="/miniui/frame/frame1/res/index.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
    	.no-children .menu-title{color:white;}
    </style>
</head>
<body>

<div class="navbar z-header">
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle ">
                <span class="userinfo">个人资料</span><i class="fa fa-angle-down"></i>
            </a>
            <ul class="dropdown-menu pull-right">
                <li><a href="javascript:logout()"><i class="fa fa-user"></i> 退出登录</a></li>
            </ul>
        </li>
    </ul>
</div>
<div class="container">
    <div class="sidebar">
    	<div class="sidebar-toggle"><i class = "fa fa-fw fa-dedent" ></i></div>
        <div id="mainMenu">
            <ul class="menu z-menu">
                <li class="has-children">
                    <a class="menu-title" ><span class="menu-text" style="font-size: 20px;">首页</span><span class="menu-arrow fa"></span></a>
                </li>

                <li class="has-children">
                    <a class="menu-title" id="architecturalDesign " data-id="architecturalDesign"><span class="menu-text">流程例子</span><span class="menu-arrow fa"></span></a>
                    <ul class="menu-submenu">
                       <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/flow.html" id="" data-id=""><span class="menu-text">流程部署</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/processDeployment.html" id="" data-id=""><span class="menu-text">流程部署表</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/processDefinition.html" id="" data-id=""><span class="menu-text">流程定义</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/employeeApply.html" id="" data-id=""><span class="menu-text">我要请假</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/start.html" id="" data-id=""><span class="menu-text">启动流程</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/task.html" id="" data-id=""><span class="menu-text">任务</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/liveTask.html" id="" data-id=""><span class="menu-text">活动任务</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="/flow/executionTask.html" id="" data-id=""><span class="menu-text">流程执行</span></a></li>
                        <li class="no-children"><a class="menu-title" target="main-iframe" href="" id="" data-id=""><span class="menu-text">填单</span></a></li>
                    </ul>
                </li>
                <li class="has-children">
                    <a class="menu-title" id="architecturalDesign " data-id="architecturalDesign"><span class="menu-text">用户管理</span><span class="menu-arrow fa"></span></a>
                    <ul class="menu-submenu">
                       <li class="no-children"><a class="menu-title" target="main-iframe" href="/user/list.html" id="" data-id=""><span class="menu-text">用户列表</span></a></li>
                       <li class="no-children"><a class="menu-title" target="main-iframe" href="/role/list.html" id="" data-id=""><span class="menu-text">角色列表</span></a></li>
                       <li class="no-children"><a class="menu-title" target="main-iframe" href="/roleAssignment/list.html" id="" data-id=""><span class="menu-text">角色分配</span></a></li>
                    </ul>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="main z-main">
        <div id="mainTabs" class="mini-tabs main-tabs" activeIndex="0" style="height:100%;" plain="false"
             buttons="#tabsButtons" arrowPosition="side" >
            <div name="mainTitle" title="工作台">
                <iframe name="main-iframe" id="main-iframe" src="/welcome.html" style="width:100%;height:100%;" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    function activeTab(item) {
        var tabs = mini.get("mainTabs");
        var tab = tabs.getTab(item.id);
        if (!tab) {
            tab = { name: item.id, title: item.text, url: item.url, iconCls: item.iconCls, showCloseButton: true };
            tab = tabs.addTab(tab);
        }
        tabs.activeTab(tab);
    }

    $(function () {
        $("#mainMenu li").on('click', '.menu-title', function (event) {
            var el = $(event.currentTarget);
            var li = el.parent();
            $("li").each(function(index,obj){
                if($(obj).hasClass('has-children')){
                    $(obj).removeClass('menu-title-active ');
                }
                if($(obj).hasClass('no-children')){
                    $(obj).removeClass('menu-title-active');
                }
                if(li.hasClass("no-children")){
                	$(this).css({"background":""})
                }
            });
            if(li.hasClass('has-children open')){
                li.removeClass('open menu-title-active');
            }else {
                li.addClass('open menu-title-active').siblings().removeClass('open menu-title-active');
                if(!li.hasClass('has-children')){
                	li.css({"background":"#00C1DE"})
                }
            }
			
            var href = $(this).context.href;
            var text = $(this).context.innerText;
            if(href==""){
                return
            }else {
                $("#mini-1\\$1").load();
                $("#mini-1\\$1").html(text);
                $("#main-iframe").attr("src", href);
            }
            event.preventDefault();
        });
        $("#toggle, .sidebar-toggle").click(function () {
            $('body').toggleClass('compact');
        });

        $(".dropdown-toggle").click(function (event) {
            if($(this).parent().hasClass("open")){
                $(this).parent().removeClass("open");
            }else {
                $(this).parent().addClass("open");
            }
            return false;
        });

        $(document).click(function (event) {
            $(".dropdown").removeClass("open");
        });


    });
    //退出
    function logout(){
    	$.ajax({url:"/logout",dateType:"json",success:function(data){
    		if(data&&data.code==0){
    			window.location.href="/login.html";
    		}
    	}});
    }

</script>
</body>
</html>

